.h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    text-align: center;
}
.h2 {
    font-family: "Montserrat";
    font-size: 24px;
    text-align: center;
}
.h3 {
    font-family: "Montserrat";
    font-size: 18.72px;
    text-align: center;
}
.h4 {
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
}
.footer {
    font-family: "Montserrat";
    font-size: small;
    text-align: center;
    color: rgb(87, 87, 87);
}
a:link {
    color:red
}
a:visited {
    color: darkred
}