body {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    display: block;
}

h2,h3,h4 {
    text-align: center;
}

.footer {
    font-size: small;
    text-align: center;
    color: rgb(87, 87, 87);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: rgb(51,51,51);
    color: #FFF;
    padding-bottom: 10px;
}

a {
    color: #A10;
    text-decoration: none;
}

a:hover {
    color: #000;
    transition: 0.2s;
}

.footer a:hover {
    color: #FFF;
    transition: 0.2s;
}

.navbar {
    font-family: "Bebas Neue", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    font-family: "Bebas Neue", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
    transition: 0.3s;
}

.active {
    background-color: #A10;
}

/* Project Grid */
.project-list-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    text-align: center;
    border-color: #111;
    border-width: 1rem;
    border-style: solid;
    width: 100%;
    padding: 0;
    margin: 10px auto;
}

.project-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectimage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-item figcaption {
    margin-top: 10px;
    font-size: 1.2em;
}

/* Mobile-friendly Adjustments */
@media (max-width: 768px) {
    .project-list-div {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}
